---
import Logo from './Logo.astro';
import ThemeToggle from './ThemeToggle.astro';
---

<footer class="bg-white dark:bg-gray-900">
  <div class="w-full max-w-[85rem] py-10 px-4 sm:px-6 lg:px-8 mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-3 items-center gap-8">
      <div class="text-center md:text-left">
        <Logo customMargin="mb-2" />
        <p class="mt-3 text-gray-500 dark:text-gray-400 text-sm font-light">
          © unFunnelizer, 2024. All rights reserved.
        </p>
        <span class="text-transparent bg-clip-text bg-gradient-to-r from-startCold to-endCold text-sm">
          Created by Rhea Victor
        </span>
      </div>
      
      <div class="text-center">
        <ul class="flex justify-center space-x-4 text-sm font-light">
          <li><a href="/" class="text-gray-600 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white">Home</a></li>
          <li><a href="/changelog" class="text-gray-600 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white">Changelog</a></li>
          <li><a href="/donate" class="text-gray-600 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white">Donate</a></li>
        </ul>
      </div>

      <div class="text-center md:text-right">
        <ThemeToggle id="themeToggleFooter" />
      </div>
    </div>
  </div>
</footer>