---
import ThemeToggle from './ThemeToggle.astro';
import Logo from './Logo.astro';
---

<header class="bg-white dark:bg-gray-900 py-4 px-4 sm:px-6 lg:px-8">
  <div class="max-w-7xl mx-auto flex justify-between items-center">
    <Logo />
    <ThemeToggle id="themeToggleHeader" />
  </div>
</header>